.product {
    position: relative;
    width: 1000px;
    min-width: 350px;
    min-height: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.product-img{
    width: 40%;
    height: 500px;
    background: #fff;
    position: relative;
    opacity: 0;
    transform: translateY(-50px);
    animation: fade-in 1s forwards 1;
    margin-right: 60px;
}


.product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;

}

.tag{
    position: absolute;
    top: 20px;
    left: -10px;
    transform-origin: left;
    opacity: 0;
    transform: rotate(-90deg);
    text-transform: capitalize;
    color: black;
    padding: 5px 10px;
    width: 100px;
    font-size: 18px;
    text-align: center;
    background: #765827;
    user-select: none;
    animation: tag .5s 1s forwards 1;
}

@keyframes tag{
    100%{
        opacity: 1;
        transform: rotate(-20deg);
    }
}

.product-listing{
    width: 60%;
    min-height: 500px;
    height: auto;
    background: #543310;
    padding: 40px;
    display: flex;
    justify-content: center;
    color: black;
    opacity: 0;
    transform: translateY(50px);
    animation: fade-in 1s forwards 1;
    align-items: center;
    justify-content: center;
    
}

@keyframes fade-in{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.name{
    font-family: 'dosis';
    font-size: 70px;
    text-transform: capitalize;
}

.info{
    font-size: 18px;
    line-height: 30px;
    margin: 50px 0;
}

.price{
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 20px;
}

.btn-and-rating-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rating{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating img{
    width: 20px;
    height: 20px;
    margin: 0 2px;

}

.btn-compra {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(234,198,150);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgba(234,198,150);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    -webkit-transition: color 0.3s 0.1s ease-out;
    -moz-transition: color 0.3s 0.1s ease-out;
    -ms-transition: color 0.3s 0.1s ease-out;
    -o-transition: color 0.3s 0.1s ease-out;
}

.btn-compra span {
    margin: 10px;
}

.btn-compra::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: box-shadow 0.5s ease-out;
    -moz-transition: box-shadow 0.5s ease-out;
    -ms-transition: box-shadow 0.5s ease-out;
    -o-transition: box-shadow 0.5s ease-out;
}

.btn-compra:hover {
    color: #fff;
    border: 1px solid rgba(234,198,150);
}

.btn-compra:hover::before {
    box-shadow: inset 0 0 0 10em rgba(234,198,150);
}

main {
    display: flex;
    justify-content: center;

}